* {
	padding: 0;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

.dark-purple {
	background-color: #4a2847;
}

.light-purple {
	background-color: #936190;
}

.dark-skin {
	background-color: #f3dfcd;
}

.light-skin {
	background-color: #f9eeea;
}

/* ====================== Header ====================== */
.header-top-cusd {
	display: flex;
	color: #fff;
	padding: 10px 30px 10px 25px;
}

.services-open {
	margin-left: auto;
}

.info-head-anchor {
	color: #fff;
}

.info-head-anchor:hover {
	color: #fff;
}

.header-top-cusd span {
	margin-right: 5px;
}

.navbar-cusd {
	display: flex;
	padding: 10px 30px 10px 25px;
	color: #fff;
}

.list-item {
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
	margin-left: auto;
}

.list-item li a {
	font-size: 16px;
	text-transform: capitalize;
	padding: 10px 20px;
	font-weight: 600;
	color: #fff;
}